USE [ZalahDB]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 09/04/2026 01:18:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[membresia] [varchar](50) NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](200) NULL,
	[id_compra] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 09/04/2026 01:18:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[id] [varchar](20) NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[id_productos] [varchar](20) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[metodo_pago] [varchar](50) NULL,
	[id_clientes] [varchar](20) NOT NULL,
	[id_gerente] [varchar](20) NOT NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gerente]    Script Date: 09/04/2026 01:18:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gerente](
	[id] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[salario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdClientes]    Script Date: 09/04/2026 01:18:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdClientes](
	[id] [varchar](20) NOT NULL,
	[id_clientes] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_clientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdCompra]    Script Date: 09/04/2026 01:18:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdCompra](
	[id] [varchar](20) NOT NULL,
	[id_compra] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdGerente]    Script Date: 09/04/2026 01:18:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdGerente](
	[id] [varchar](20) NOT NULL,
	[id_gerente] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_gerente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdProductos]    Script Date: 09/04/2026 01:18:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdProductos](
	[id] [varchar](20) NOT NULL,
	[id_productos] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_productos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 09/04/2026 01:18:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zalah]    Script Date: 09/04/2026 01:18:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zalah](
	[id] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[direccion] [varchar](200) NULL,
	[id_clientes] [varchar](20) NULL,
	[id_gerente] [varchar](20) NULL,
	[id_productos] [varchar](20) NULL,
	[horario] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([id_clientes])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([id_gerente])
REFERENCES [dbo].[Gerente] ([id])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([id_productos])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[IdClientes]  WITH CHECK ADD FOREIGN KEY([id_clientes])
REFERENCES [dbo].[Clientes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdCompra]  WITH CHECK ADD FOREIGN KEY([id_compra])
REFERENCES [dbo].[Compra] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdGerente]  WITH CHECK ADD FOREIGN KEY([id_gerente])
REFERENCES [dbo].[Gerente] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdProductos]  WITH CHECK ADD FOREIGN KEY([id_productos])
REFERENCES [dbo].[Productos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zalah]  WITH CHECK ADD FOREIGN KEY([id_clientes])
REFERENCES [dbo].[IdClientes] ([id])
GO
ALTER TABLE [dbo].[Zalah]  WITH CHECK ADD FOREIGN KEY([id_gerente])
REFERENCES [dbo].[IdGerente] ([id])
GO
ALTER TABLE [dbo].[Zalah]  WITH CHECK ADD FOREIGN KEY([id_productos])
REFERENCES [dbo].[IdProductos] ([id])
GO
